<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon card-header-rose">
                        <div class="card-icon">
                            <i class="material-icons">perm_identity</i>
                        </div>
                        <h4 class="card-title">Relatórios
                            <small class="category">&nbsp;</small>
                            <button mat-raised-button class="btn btn-success btn-sm mx-3">
                                Criar registro
                            </button>
                            <button mat-raised-button class="btn btn-info btn-sm">
                                Gerar PDF
                            </button>
                        </h4>
                    </div>
                    <div class="card-body mt-3 mb-0">
                        CONTENT
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>