<div id="budget-messages" class="col-12">
    <div class="align-items-center row">
        

        <div class="col-12 view-instructions" [hidden]="instructions">
            <div class="row">
                <div class="col-12 col-lg-3 d-flex">
                    <h4 class="mt-4 font-weight-bolder align-self-center">Mensagens recebidas</h4>
                </div>
                <div class="col-12 col-lg-9">
                    <div class="alert alert-primary alert-with-icon" data-notify="container">
                        <i class="material-icons" data-notify="icon">notifications</i>
                        <span class="instructions" data-notify="message">Nesse ponto do sistema, você receberá as mensagens dos parceiros, os seus fornecedores e poderá manter contato com eles para esclarecer cada uma das suas dúvidas com objetivo de fechar negócio. É proibido a troca de informações de contato.</span>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-12">

            <div class="row mt-3">
                <div class="col-12">
                    <form action="">
                        <label>Mensagens <span (click)="showInstructions();"><sup>Ver instruções</sup></span></label>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    
                    


                    <ul class="timeline timeline-simple">
                        <li class="timeline">
                          <div class="timeline-panel" style="background: #f5f5f5;">
                            <div class="timeline-heading">
                              <span class="badge badge-danger" (click)="openNav();">#1 Parceiro</span>
                            </div>
                            <div class="timeline-body">
                              <p class="chat-messages">Wifey made the best Father's Day meal ever. So thankful so happy so blessed.</p>
                            </div>
                            <h6>
                              <i class="ti-time"></i> 24/03/2022 18:03
                            </h6>
                            <p class="text-right" style="margin-bottom: 0">
                                <a class="visit-store" href="!#"><strong>VISITAR LOJA</strong></a>
                            </p>
                          </div>
                        </li>
    
                        <li class="timeline">
                            <div class="timeline-panel">
                              <div class="timeline-heading">
                                <span class="badge badge-danger">#2 Parceiro</span>
                              </div>
                              <div class="timeline-body">
                                <p class="chat-messages">Wifey made the best Father's Day meal ever. So thankful so happy so blessed.</p>
                              </div>
                              <h6>
                                <i class="ti-time"></i> 24/03/2022 18:03
                              </h6>
                              <p class="text-right" style="margin-bottom: 0">
                                <a class="visit-store" href="!#"><strong>VISITAR LOJA</strong></a>
                              </p>
                            </div>
                          </li>
                    </ul>



                </div>
                <div class="col-8">
                    
                    

                    <ul class="timeline timeline-simple">
                        <li class="timeline-inverted">

                          <div class="chat-area timeline-panel" style="background: #f5f5f5">
                            
            

                            <div class="mb-3 d-flex">
                                <div class="timeline-body odd">
                                    <i class="chat-messages">Marcos Vinicius</i>
                                    <p class="chat-messages">Wifey made the best Father's Day meal ever. So thankful so happy so blessed. Thank you for making my family We just had fun with the “future” theme. <strong><i class="ti-time"></i> 22/03/2022 18:30</strong></p>
                                </div>
                                <img class="man" src="https://png.pngtree.com/png-clipart/20190924/original/pngtree-user-vector-avatar-png-image_4830521.jpg" alt="" />
                            </div>
                       
                            <div class="mb-3 d-flex">
                                <img class="man" src="https://png.pngtree.com/png-clipart/20190924/original/pngtree-user-vector-avatar-png-image_4830521.jpg" alt="" />
                                <div class="mb-3 timeline-body even">
                                    <i class="chat-messages">Lucas</i>
                                    <p class="chat-messages">Wifey made the best Father's Day meal ever. So thankful so happy so blessed. Thank you for making my family We just had fun with the “future” theme. <strong><i class="ti-time"></i> 22/03/2022 18:30</strong></p>
                                </div>
                            </div>
                            
                            <div class="mb-3 d-flex">
                                <div class="timeline-body odd">
                                    <i class="chat-messages">Marcos Vinicius</i>
                                    <p class="chat-messages">Wifey made the best Father's Day meal ever. So thankful so happy so blessed. Thank you for making my family We just had fun with the “future” theme. <strong><i class="ti-time"></i> 22/03/2022 18:30</strong></p>
                                </div>
                                <img class="man" src="https://png.pngtree.com/png-clipart/20190924/original/pngtree-user-vector-avatar-png-image_4830521.jpg" alt="" />
                            </div>
                       
                            <div class="mb-3 d-flex">
                                <img class="man" src="https://png.pngtree.com/png-clipart/20190924/original/pngtree-user-vector-avatar-png-image_4830521.jpg" alt="" />
                                <div class="mb-3 timeline-body even">
                                    <i class="chat-messages">Lucas</i>
                                    <p class="chat-messages">Wifey made the best Father's Day meal ever. So thankful so happy so blessed. Thank you for making my family We just had fun with the “future” theme. <strong><i class="ti-time"></i> 22/03/2022 18:30</strong></p>
                                </div>
                            </div>

                            <div class="mb-3 d-flex">
                                <div class="timeline-body odd">
                                    <i class="chat-messages">Marcos Vinicius</i>
                                    <p class="chat-messages">Wifey made the best Father's Day meal ever. So thankful so happy so blessed. Thank you for making my family We just had fun with the “future” theme. <strong><i class="ti-time"></i> 22/03/2022 18:30</strong></p>
                                </div>
                                <img class="man" src="https://png.pngtree.com/png-clipart/20190924/original/pngtree-user-vector-avatar-png-image_4830521.jpg" alt="" />
                            </div>
                       
                            <div class="mb-3 d-flex">
                                <img class="man" src="https://png.pngtree.com/png-clipart/20190924/original/pngtree-user-vector-avatar-png-image_4830521.jpg" alt="" />
                                <div class="mb-3 timeline-body even">
                                    <i class="chat-messages">Lucas</i>
                                    <p class="chat-messages">Wifey made the best Father's Day meal ever. So thankful so happy so blessed. Thank you for making my family We just had fun with the “future” theme. <strong><i class="ti-time"></i> 22/03/2022 18:30</strong></p>
                                </div>
                            </div>

                            <div class="mb-3 d-flex">
                                <div class="timeline-body odd">
                                    <i class="chat-messages">Marcos Vinicius</i>
                                    <p class="chat-messages">Wifey made the best Father's Day meal ever. So thankful so happy so blessed. Thank you for making my family We just had fun with the “future” theme. <strong><i class="ti-time"></i> 22/03/2022 18:30</strong></p>
                                </div>
                                <img class="man" src="https://png.pngtree.com/png-clipart/20190924/original/pngtree-user-vector-avatar-png-image_4830521.jpg" alt="" />
                            </div>
                       
                            <div class="mb-3 d-flex">
                                <img class="man" src="https://png.pngtree.com/png-clipart/20190924/original/pngtree-user-vector-avatar-png-image_4830521.jpg" alt="" />
                                <div class="mb-3 timeline-body even">
                                    <i class="chat-messages">Lucas</i>
                                    <p class="chat-messages">Wifey made the best Father's Day meal ever. So thankful so happy so blessed. Thank you for making my family We just had fun with the “future” theme. <strong><i class="ti-time"></i> 22/03/2022 18:30</strong></p>
                                </div>
                            </div>

                        
                            <div class="mb-3 d-flex">
                                <div class="row">
                                    <div class="col-10">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Envie sua mensagem</mat-label>
                                            <textarea formControlName="description" matInput rows="2" class="form-control"></textarea>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-2">
                                        <button mat-raised-button type="submit" class="mt-3 btn btn-lg btn-fill btn-success">Enviar</button>
                                    </div>
                                </div>
                            </div>
                             


                    
                             
                      
                                             
                           
                      
                                
                           


                          </div>
                        </li>
                    
                      
                        
                      </ul>

                     






                </div>
            </div>
        </div>
    </div>
</div>