<div class="main-content main-content-plan">
    <div class="img-from-project">
        <img src="https://orcamento.axitech.com.br/frontend_v3/dist/demo/assets/img/plan.png" class="img-fluid" style="width:100%!important" alt="" />
    </div>
    <div class="main-content mc-padding px-4">
        <div class="row">
            <div class="col-12 col-md-3 col-lg-3">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">weekend</i>
                        </div>
                        <p class="card-category">Área total</p>
                        <h3 class="card-title">360m<sup>2</sup></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">warning</i>
                            <a href="#pablo">Get More Space...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">weekend</i>
                        </div>
                        <p class="card-category">Área construída</p>
                        <h3 class="card-title">160m<sup>2</sup></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-success">warning</i>
                            <a href="#pablo">Get More Space...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">weekend</i>
                        </div>
                        <p class="card-category">Andares</p>
                        <h3 class="card-title">02</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-warning">warning</i>
                            <a href="#pablo">Get More Space...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">weekend</i>
                        </div>
                        <p class="card-category">Valor da obra</p>
                        <h3 class="card-title">R$ 230,000.00</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-info">warning</i>
                            <a href="#pablo">Get More Space...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-9 col-lg-9">
                <div class="text-of-project text-justify">
                    <h3 class="mb-3">Detalhes</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet dolore laborum beatae nemo unde recusandae incidunt animi vero perferendis, omnis sed cum. Fugit molestias repellat autem asperiores non fugiat ratione.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis ducimus, inventore minus voluptatum nam ad ullam placeat repudiandae incidunt mollitia atque soluta harum, aut sequi at quasi in? Magnam, harum! Voluptatum quis repudiandae pariatur voluptatem impedit vel aspernatur, rem similique tempora omnis quidem error harum eum nobis cum dolor? Voluptatem doloribus quidem velit dolorum. Veritatis autem molestias quidem maiores officiis. Dignissimos at error dolor tempora ducimus reprehenderit fuga possimus harum quia placeat, ad nostrum delectus similique voluptate aut modi eligendi saepe quisquam atque inventore et rerum suscipit nemo laboriosam! Adipisci.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod accusamus natus maxime officiis ut quae at aliquid, laborum eos itaque beatae quasi consequuntur molestiae iste recusandae minus aut, possimus corporis! Suscipit sunt fuga adipisci impedit pariatur ipsa distinctio reprehenderit expedita. In hic voluptatibus enim incidunt quos quo cum at quisquam accusantium deserunt. Fugiat, voluptate deserunt totam magnam assumenda quia aspernatur!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, dolorem harum debitis earum qui quia doloribus incidunt reiciendis cum! Sint esse magni eaque, dolorum aut id tenetur ratione fugiat possimus.</p>
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3">
                <h3 class="mb-3">Prazos e outros</h3>
                <h4>Início previsto<br>
                    <span><strong><i>17/05/2022</i></strong></span>
                </h4>
                <h4>Término previsto<br>
                    <span><strong><i>17/05/2023</i></strong></span>
                </h4>
                <h4>Tipo<br>
                    <span><strong><i>Casa de 2 andares</i></strong></span>
                </h4>
                <button mat-button class="mt-3 btn btn-block btn-lg btn-success" (click)="participateInProject();">
                    Quero participar
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 col-lg-9 col-12">
                <div class="row mb-2">
                    <div class="col-12">
                        <h3>Galeria da obra</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-6">
                        <a href="javascript:void(0);" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="./assets/img/building/01.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a href="javascript:void(0);" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="./assets/img/building/02.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a href="javascript:void(0);" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="./assets/img/building/03.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a href="javascript:void(0);" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="./assets/img/building/04.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a href="javascript:void(0);" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="./assets/img/building/05.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a href="javascript:void(0);" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="./assets/img/building/06.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a href="javascript:void(0);" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="./assets/img/building/07.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a href="javascript:void(0);" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="./assets/img/building/08.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a href="javascript:void(0);" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="./assets/img/building/09.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a href="javascript:void(0);" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="./assets/img/building/10.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a href="javascript:void(0);" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="./assets/img/building/11.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a href="javascript:void(0);" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="./assets/img/building/12.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>