<div id="mat-dialog-modal" class="main-content main-content-modal" >
    <div id="mdoal-orcamentos" class="row">
        <div class="col-12 col-md-12">
            <div class="content top">
                <div class="row">
                    <div class="col-11 col-md-11">
                        <h3>Orçamentos - <span>Aquecimento de água</span></h3>
                    </div>
                    <div class="col-1 col-md-1 close-div">
                        <button type="button" class="close" (click)="closeModal();">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="content body">
                <div class="row mt-3">
                    <div class="col-12">
                        <form [formGroup]="form" class="mb-0">
                            <div class="row">
                                <div class="col-12">
                                    <label>Assunto</label>
                                    <mat-form-field appearance="outline">
                                        <input matInput formControlName="subject" [readonly]=true />
                                        <mat-error *ngIf="submitted && form.get('subject').hasError('required')">*Campo obrigatório</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-12">
                                    <label>Descrição</label>
                                    <mat-form-field appearance="outline">
                                        <textarea matInput formControlName="description" [readonly]=true rows="4"> {{ form.get('description').value }} </textarea>
                                        <mat-error *ngIf="submitted && form.get('description').hasError('required')">*Campo obrigatório</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-12">
                                    <label>Proposta em PDF</label>
                                    <div class="row">
                                        <div class="col-12">                                            
                                            <input (change)="onFileSelected($event)" #fileInput type="file" accept=".doc,.docx,.pdf,.xlsx,.xls" required formControlName="pdf_proposal">
                                            <mat-error *ngIf="submitted && form.get('pdf_proposal').hasError('required')">*Campo obrigatório</mat-error>                                                    
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12 d-flex justify-content-end">
                                    <button [disabled]="!sendPdfFile" type="button" class="btn btn-success me-3" (click)="onYesClick();">{{ data.btnTrue }}</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onNoClick();">{{ data.btnFalse }}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>