<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matTableExporter #exporter="matTableExporter" >

        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef class="w_1"> ID </th>
            <td mat-cell *matCellDef="let element" class="w_1"> #{{ element.id | number:"3.0-0" }} </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef class="w_1">  
                <span> Descrição </span> 
            </th>
            <td mat-cell *matCellDef="let element" class="w_1"> {{ element.title }} </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="import">
            <th mat-header-cell *matHeaderCellDef class="w_1"> Modelos </th>
            <td mat-cell *matCellDef="let element" class="button-fit-content">
                <button mat-raised-button class="btn btn-warning btn-sm" (click)="importToMyModel(element.id);"> Importar modelo </button>
            </td>
        </ng-container> 

        <!-- Position Column -->
        <ng-container matColumnDef="download">
            <th mat-header-cell *matHeaderCellDef class="w_1"> Download </th>
            <td mat-cell *matCellDef="let element" class="button-fit-content">
                <button mat-raised-button class="btn btn-success btn-sm" (click)="downloadToMyPC(element.id);"> Fazer download </button>
            </td>
        </ng-container> 

        
        <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons  aria-label="Select page of periodic elements">
    </mat-paginator>
</div>