<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon card-header-rose">
                        <div class="card-icon">
                            <i class="material-icons">perm_identity</i>
                        </div>
                        <h4 class="card-title">Generics
                            <small class="category">&nbsp;</small>
                            <button mat-raised-button class="btn btn-info btn-sm mx-3" (click)="createGenerics();">
                                Criar genérico
                            </button>
                        </h4>
                    </div>
                    <div class="card-body mt-3 mb-0">
                        <mat-tab-group>
                            <mat-tab label="Generic name">
                                <app-generics-list [createdGenerics]="createdGenericsSubject.asObservable()"></app-generics-list>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>